@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       local("Gilroy-ExtraBold");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       local("Gilroy-Light");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2"),
       local("OpenSans");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       local("OpenSans-Light");
  font-style: normal;
  font-weight: 300;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;  
}

html {  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.main-header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 32px;
  padding-bottom: 160px;
  background-color: rgb(247, 226, 150);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;  
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 48px;
  line-height: 48px;      
}

.header-logo {
  position: absolute;
  top: -24px;
  left: 58px;
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Поле "Найти"-----*/
.search-form {
  width: 50%;     
  display: -webkit-box;     
  display: -ms-flexbox;     
  display: flex;  
}

.search-form input[type="text"] {  
  color: rgb(0, 0, 0);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;  
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-color: transparent;
  padding: 10px 35px;  
  width: 355px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;  
}

/*Для Chrome работает без ::-webkit-input-placeholder.*/
.search-form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}
.search-form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}
.search-form input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);  
}
.search-form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

 /*IE 10+*/
.search-form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3); 
}
 
 /*Firefox 18-*/
.search-form :-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

/*Firefox 19+*/ 

.search-form input[type="text"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} 

.search-form input[type="text"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} 

.search-form input[type="text"]:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
} 

.search-form input[type="text"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form:hover :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);  
}

.search-form:hover :-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); 
}

.search-form:hover ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);  
} 

/*-----Кнопка "Найти"-----*/
.search-form input[type="submit"] { 
  color: rgb(0, 0, 0);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;   
  padding: 10px 20px; 
  background-color: transparent;
  margin-left: -2px; 
  border: 2px solid rgb(0, 0, 0);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;  
  cursor: pointer;
  display: none;  
}

.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: block;       
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0);  
}

.search-form input[type="text"]:focus {
  border-bottom: 2px solid black; 
  outline: none;
}

.search-form input[type="text"]:focus ~ input[type="submit"] {
  display: block;
}

.btn-style {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;  
  vertical-align: middle;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.menu-list,
.user-navigation,
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;  
}

/*-----Отсюда пошел верхний контейнер хедера-----*/
.header-top,
.header-middle {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top {
  margin-bottom: 22px;
}

.header-top .user-navigation,
.header-middle nav {
  width: 50%;
  padding-left: 20px;
}

.header-top .user-navigation,
.header-middle .site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
        -ms-flex-wrap: wrap; 
          flex-wrap: wrap;
          align-items: center;
}

.header-top .user-navigation li:first-child {
  margin-right: auto;   
}

.header-top .user-navigation li:last-child {
  margin-left: 41px;   
}

.header-middle .site-navigation li:first-child {
  margin-right: 35px;  
}

.header-middle .site-navigation li:last-child {
  margin-left: auto;
}

/*-----Хедер(Войти, Сравнить, Корзина)-----*/
.header-top .login-link,
.header-top .user-compare,
.header-top .user-order {
  position: relative;    
}

.header-top .login-link a {
  padding-left: 27px;
}

/*-----Хедер(Войти)-----*/
.main-page .login-link::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-page .login-link:hover::before,
.main-page .login-link:focus::before {
  opacity: 0.6;
}

.main-page .login-link:active::before {
  opacity: 0.3;
}

/*-----Хедер(Сравнить)-----*/
.header-top .user-compare a {
  padding-left: 20px;
}

.header-top .user-compare::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 9px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header-top .user-compare:hover::before,
.header-top .user-compare:focus::before {
  opacity: 0.6;
}

.header-top .user-compare:active::before {
  opacity: 0.3;
}

/*-----Хедер(Корзина)-----*/
.header-top .user-order a {
 padding-left: 24px;
}

.header-top .user-order::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header-top .user-order:hover::before,
.header-top .user-order:focus::before {
  opacity: 0.6;
}

.header-top .user-order:active::before {
  opacity: 0.3;
}

.menu-catalog {
  position: relative;
  width: 25%;
}

.menu-title {  
  position: relative; 
}

.menu-title::after {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: -28px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3; 
}

.menu-list {  
  width: 1040px;
  height: 160px; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;  
  -ms-flex-wrap: wrap;  
      flex-wrap: wrap;
  background-color: rgb(247, 226, 150);   
  padding-top: 25px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-list-wrap {
  position: absolute; 
  overflow: hidden;
  z-index: 2;
}

.menu-title:hover + .menu-list-wrap .menu-list,
.menu-title:focus + .menu-list-wrap .menu-list,
.menu-list:hover {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); 
}

.menu-list li {
  width: 20%;
  margin-bottom: 15px;
}

.menu-title a:hover,
.menu-title a:focus,
.menu-list a:hover,
.menu-list a:focus,
.main-page .user-navigation a:hover,
.main-page .user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);    
}

.menu-title a:active,
.menu-list a:active,
.main-page .user-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошел основной слайдер-----*/
.slider-main {
  position: relative;
}

.slider-main-container {
  position: relative;   
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;   
}

.slider-main-list {
  position: relative;
  top: -116px;
  margin: 0;
  padding: 0;
  list-style: none; 
} 
 
.slider-main-item {
  padding-top: 85px;
  display: none;
  padding-bottom: 16px; 
}

.slide-main-wrap {
  position: relative;
  width: 500px;
  z-index: 1;
}

.slide-main-wrap::before {
  position: absolute;

  content: "";
  z-index: 0;  
  top: -42px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: rgb(255, 255, 255);
}

.main-slide1::after,
.main-slide2::after,
.main-slide3::after {
  position: absolute;

  z-index: 0;
  top: 65px;
  right: -12px;
  color: rgb(255, 255, 255);
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 179px;
}

.main-slide1::after {
  content: "01";
}

.main-slide2::after {
  content: "02";
}

.main-slide3::after {
  content: "03";
}

#slide-1:checked ~ .slider-main-list .main-slide1,
#slide-2:checked ~ .slider-main-list .main-slide2,
#slide-3:checked ~ .slider-main-list .main-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider-main-item:nth-child(1) {
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: 30px 6px;
}

.slider-main-item:nth-child(2) {
  background-image: url(../img/slider-2.png);
  background-repeat: no-repeat;
  background-position: 56px 17px;
}

.slider-main-item:nth-child(3) {
  background-image: url(../img/slider-3.png);
  background-repeat: no-repeat;
  /*background-position: 0 70px;*/
  background-position: -29px 70px;
}

.slider-main-item h3 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 56px;   
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.slider-main-item p {
  color: rgb(0, 0, 0);

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.slide-button {
  display: inline-block;
  position: relative;  
  padding: 11px 42px;
  z-index: 0;
  margin-bottom: 44px;  
}

.slide-button::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 19px;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;  
  background-color: rgb(240, 197, 46);
}

.slide-button:hover::before,
.slide-button:focus::before {
  height: 100%;
  top: 0;
  background-color: rgb(240, 197, 46);
}

.slide-button:active {
  color: rgba(0, 0, 0, 0.3);   
} 

.slide-item-features {
  border-spacing: 0 2px;
  /*border-collapse: collapse;*/
}

.slide-item-features td {
  text-align: left;
  vertical-align: middle;
  padding-right: 75px;
  border: 1px solid white; 
}

.slider-main-item:nth-child(3) .slide-item-features td {
  padding-right: 44px;
}

.slide-item-features td:last-child {
  padding-right: 0;
}

.slide-item-features .title {
  color: rgb(0, 0, 0);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 10px;
}

.slide-item-features .feature {
  color: rgb(0, 0, 0);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.slider-main-controls {
  position: absolute;
  
  width: 78px;
  top: 216px;
  right: 82px;
  z-index: 2;  
  font-size: 0;  
  display: -webkit-inline-box;  
  display: -ms-inline-flexbox;  
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
}

.slider-main-controls label {
  width: 12px;
  height: 12px;
  
  background-image: url(../img/slider-button-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
  cursor: pointer;
}

#slide-1:checked ~ .slider-main-controls label[for="slide-1"], 
#slide-2:checked ~ .slider-main-controls label[for="slide-2"],
#slide-3:checked ~ .slider-main-controls label[for="slide-3"] {
  width: 12px;
  height: 12px;
  
  background-image: url(../img/slider-button-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*-----Отсюда пошел блок популярных товаров-----*/
.popular {
  margin-bottom: 180px;
  margin-top: -22px;
}

.popular-container {
  width: 1160px;
  margin: 0 auto;
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;  
}

.popular-wrap { 
  width: 160px;           
  background-color: rgb(247, 226, 150);  
  margin-bottom: 34px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;  
}

.popular-1 img {
  margin-top: 52px;
  /*margin-bottom: 53px;*/
  margin-bottom: 44px;
  margin-left: 31px;
  margin-right: 32px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;      
}

.popular-2 img {
  margin-top: 41px;
  /*margin-bottom: 2px;*/
  margin-bottom: -8px;
  margin-left: 38px;
  margin-right: 36px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.popular-3 img {
  margin-top: 38px;
  /*margin-bottom: 35px;*/
  margin-bottom: 26px;
  margin-left: 49px;
  margin-right: 40px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; 
}

.popular-4 img {
  margin-top: 50px;
  /*margin-bottom: 45px;*/
  margin-bottom: 36px;
  margin-left: 28px;
  margin-right: 25px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.popular-5 img {
  margin-top: 32px;
  /*margin-bottom: 30px;*/
  margin-bottom: 22px;
  margin-left: 55px;
  margin-right: 49px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.popular-6 img {
  margin-top: 49px;
  /*margin-bottom: 42px;*/
  margin-bottom: 34px;
  margin-left: 13px;
  margin-right: 15px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.popular-1:hover .popular-wrap,
.popular-1:focus .popular-wrap,
.popular-2:hover .popular-wrap,
.popular-2:focus .popular-wrap,
.popular-3:hover .popular-wrap,
.popular-3:focus .popular-wrap,
.popular-4:hover .popular-wrap,
.popular-4:focus .popular-wrap,
.popular-5:hover .popular-wrap,
.popular-5:focus .popular-wrap,
.popular-6:hover .popular-wrap,
.popular-6:focus .popular-wrap {
  background-color: rgb(247, 197, 46);
}

.popular-1:active .popular-wrap img,
.popular-2:active .popular-wrap img,
.popular-3:active .popular-wrap img,
.popular-4:active .popular-wrap img,
.popular-5:active .popular-wrap img,
.popular-6:active .popular-wrap img {
  opacity: 0.3;
}

.popular-title { 
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;  
  width: 160px;
  margin: 0;
  padding: 0;
}

/*-----Отсюда пошел 2й слайдер, слайдер сервисов-----*/
.slider-services {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 229, 229);
}

.slider-container {
  color: rgb(0, 0, 0);
  position: relative;

  top: -115px;
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;  
  margin: 0 auto;
}

.slider-services h3 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 30px;   
}

.slider-services-decoration-line {
  width: 7px; 
  background-color: rgb(0, 0, 0);
}

.slider-controls {
  margin: 0;  
  width: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-list {
  margin: 0;
  padding: 0;
  width: 876px;
  list-style: none;
  padding-left: 116px;   
  display: -webkit-box;   
  display: -ms-flexbox;   
  display: flex;        
}

.slide-wrap {
  width: 460px;
  margin: 0;
  margin-right: 100px;
  margin-top: 88px;   
}

.slider-delivery,
.slider-warranty,
.slider-credit {  
  position: relative;  
  z-index: 0;
  margin-bottom: 20px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;      
}

.slider-delivery {
  /*padding-left: 23px;*/
  margin-top: 94px;  
}

.slider-warranty { 
  /*padding: 14px 25px;  */
}

.slider-credit {
  /*padding: 14px 38px;*/
  margin-bottom: 72px;
}

.slider-delivery::before,
.slider-warranty::before,
.slider-credit::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 18px;
  left: 0px;
  z-index: -1;
  background-color: rgb(240, 197, 46);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;   
}

.slider-delivery:hover::before,
.slider-delivery:focus::before,
.slider-warranty:hover::before,
.slider-warranty:focus::before,
.slider-credit:hover::before,
.slider-credit:focus::before {
  height: 100%;
  top: 0px;
  background-color: rgb(240, 197, 46);
}

.services-slide {
  display: none;
}

#service-1:checked ~ .slider-list #services-slide1,
#service-2:checked ~ .slider-list #services-slide2,
#service-3:checked ~ .slider-list #services-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.slider-item {
  width: 700px;
}

.slider-item:nth-child(1) {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 99% 58%;
}

.slider-item:nth-child(2) {
  width: 710px;
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;  
  background-position: 101% 52%;
}

.slider-item:nth-child(3) {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

#service-1:checked  ~ .slider-controls .slider-delivery {
  justify-content: flex-start;
  padding-left: 20px;
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;    
}

#service-1:checked ~ .slider-controls .slider-delivery::before {
  background-color: rgb(0, 0, 0);
}

#service-2:checked  ~ .slider-controls .slider-warranty {
  justify-content: flex-start;
  padding-left: 26px;
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;  
}

#service-2:checked  ~ .slider-controls .slider-warranty::before {
  background-color: rgb(0, 0, 0);
}

#service-3:checked ~ .slider-controls .slider-credit {
  justify-content: flex-start;
  padding-left: 42px;
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;  
}

#service-3:checked ~ .slider-controls .slider-credit::before {
  background-color: rgb(0, 0, 0);
}

/*-----Отсюда пошел блок представляемых брендов-----*/
.brands {
  background-color: rgb(255, 255, 255);
  margin-top: -50px;
  margin-bottom: 84px;
  padding-top: 94px; 
}

.brands-container {
  width: 1160px;  
  margin: 0 auto;  
}

.brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
}

.brands-list a {  
  opacity: 0.2;
  -webkit-filter: grayscale(100%); 
  -webkit-filter: grayscale(1); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter: grayscale(100%); 
  -webkit-filter: gray; 
          filter: gray;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;   
}

.brands-list a:hover,
.brands-list a:focus {
  opacity: 1;
  -webkit-filter: none; 
  -webkit-filter: none; 
  -moz-filter: none; 
  -ms-filter: none; 
  -o-filter: none; 
  filter: none; 
  filter: none;  
}

/*-----Отсюда пошли блоки "О нас" + "Контакты"-----*/
.index-columns {
  width: 1160px;  
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 78px;  
}

.about-us {
  width: 472px;
}

.address-map {
  width: 560px;
}

.decoration-line {
  max-width: 80px;
  min-height: 7px;
  background-color: rgb(0, 0, 0);
}

.about-us h2,
.address-map h2 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 48px;
  margin: 44px 0;
  padding: 0;
} 

.about-us p,
.address-map p {
  color: rgb(70, 70, 70);
  padding: 0;
  margin: 0; 
}

.about-us p {
  margin-bottom: 30px;
}

.address-map p {
  margin-bottom: 36px;
}

.transport-partnership {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  list-style-type: none;
  padding-left: 35px;
  margin-top: 66px;
  margin-bottom: 50px;    
}

.transport-partnership li {  
  position: relative;  
}

.transport-partnership li::before {
  content: ""; 

  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: -39px;  

  background-image: url(../img/slider-button-gray.svg);
  background-repeat: no-repeat;
  background-position: 0 0;    
}

.transport-partnership a:hover,
.transport-partnership a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.transport-partnership a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошли стили iframe GoogleMaps-----*/
.address-map img {
  margin-bottom: 60px;
  cursor: pointer;
}

.popup-show {
  display: block;
}

.address-map .map-popup {
  color: rgb(0, 0, 0);
  position: fixed;

  top: 5%;
  margin-left: -480px;
  left: 50%;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  
  width: 960px;
  height: 559px;    
}

.map-popup iframe {  
  width: 960px;
  height: 559px;
  border: 0;    
}

.map-close {
  position: absolute;

  top: 40px;
  right: 12px;
  width: 55px;
  height: 55px;
  font-size: 0;
  border: 0;  
  background-image: url(../img/modal-close.svg); 
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer; 
}

.map-close:hover,
.map-close:focus {
  opacity: 1;
  outline: none;  
}

.map-close:active {
  opacity: 0.3;
  outline: none;  
}

/*-----Кнопки "Подробнее" и "Напишите нам"-----*/
.about-us-btn:active,
.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-us-btn,
.write-us-btn {
  display: block;  
  position: relative;
  padding: 11px 0;
  z-index: 0;
  width: 260px;
  text-align: center;     
}

.about-us-btn::before,
.write-us-btn::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 19px;
  left: 0px;
  z-index: -1;  
  background-color: rgb(240, 197, 46);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;      
}

.about-us-btn:hover::before,
.about-us-btn:focus::before,
.write-us-btn:hover::before,
.write-us-btn:focus::before {
  height: 100%;
  top: 0px;
  background-color: rgb(240, 197, 46);
}

.about-us-btn:active,
.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошел футер-----*/
.main-footer {
  background-color: rgb(70, 70, 70);   
}

.footer-container {
  width: 1160px;  
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 80px;  
}

/*-----Отсюда пошли контейнеры футера-----*/
.footer-top,
.footer-top .user-navigation,
.footer-bottom,
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
            align-items: center;
}

.footer-top {
  margin-bottom: 28px;
}

.footer-top .user-navigation {
  width: 28%;
}
.inner-page .footer-top .user-navigation {
  width: 41%;
}

.footer-middle {
  display: flex;
  margin-bottom: 64px;
}

.footer-middle .site-navigation {
  display: flex;
  align-items: center; 
}

.footer-middle p {
  padding: 0;
  margin: 0;
}

.footer-middle .telephone {
  margin-left: auto;
}

.footer-middle .address {
  margin-right: 166px;
}

.footer-middle .site-navigation li {
  margin-right: 32px;
}

.footer-middle .site-navigation li:last-child {
  margin-right: 0;
}

.footer-logo {
  position: relative;
  top: 4px;
  color: rgb(255, 198, 0);
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 198, 0, 0.6);    
}

.footer-logo:active {
  color: rgba(255, 198, 0, 0.3);  
}

.address {
  color: rgb(255, 255, 255);
}

.telephone,
.telephone a {
  color: rgba(255, 255, 255, 0.7);  
}

.telephone a:hover,
.telephone a:focus {
  color: rgba(255, 255, 255);   
}

.telephone a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-page .main-footer .user-navigation a,
.main-footer .site-navigation a {
  color: rgba(255, 255, 255, 0.7);  
}

.main-page .main-footer .user-navigation a:hover,
.main-page .main-footer .user-navigation a:focus,
.main-footer .site-navigation a:hover,
.main-footer .site-navigation a:focus {
  color: rgb(255, 255, 255);      
}

.main-page .main-footer .user-navigation a:active,
.main-footer .site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);  
}

/*-----Футер(Войти, Сравнить, Корзина)-----*/
.footer-top .login-link,
.footer-top .user-compare,
.footer-top .user-order {
  position: relative;    
}

.footer-top .login-link a {
  padding-left: 27px;
}

/*-----Футер(Войти)-----*/
.main-page .footer-top .login-link::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-page .footer-top .login-link:hover::before,
.main-page .footer-top .login-link:focus::before {
  opacity: 0.6;
}

.main-page .footer-top .login-link:active::before {
  opacity: 0.3;
}

/*-----Футер(Сравнить)-----*/
.footer-top .user-compare a {
  padding-left: 20px;
}

.footer-top .user-compare::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 2px;
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-top .user-compare:hover::before,
.footer-top .user-compare:focus::before {
  opacity: 0.6;
}

.footer-top .user-compare:active:before {
  opacity: 0.3;
}

/*-----Футер(Корзина)-----*/
.footer-top .user-order a {
 padding-left: 24px;
}

.footer-top .user-order::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-top .user-order:hover::before,
.footer-top .user-order:focus::before {
  opacity: 0.6;  
}

.footer-top .user-order:active:before {
  opacity: 0.3;  
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li {
  margin-right: 54px;
}

.social-button {  
  color: rgb(255, 255, 255);    
}

.main-footer .decoration-line {
  min-width: 80px;
  background-color: rgb(255, 198, 0);
}

/*-----Отсюда пошли стили для иконок соц.сетей и академии -----*/
.facebook,
.instagramm,
.twitter,
.footer-copyright {
  position: relative;
  display: block;
  font-size: 0;  
}

.facebook::before,
.instagramm::before,
.twitter::before {
  content: "";

  position: absolute;
  width: 32px;
  height: 32px;
  top: -2px;
  left: -28px;  
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.instagramm::before {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.twitter::before {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.facebook:hover:before,
.facebook:focus:before,
.instagramm:hover::before,
.instagramm:focus::before,
.twitter:hover::before,
.twitter:focus::before,
.footer-copyright:hover::before,
.footer-copyright:focus::before {
  opacity: 0.6;  
}

.facebook:active:before,
.instagramm:active::before,
.twitter:active::before {
 opacity: 0.1;   
}

.footer-copyright::before {
  content: "";

  position: absolute;
  width: 27px;
  height: 35px;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -27px;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.footer-copyright:active::before {
  opacity: 0.3;  
}

/*-----Отсюда пошла форма для отправки письма-----*/
.feedback label {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 18px;
  line-height: 24px;
}

.feedback input[type="text"],
.feedback textarea {
  color: rgb(0, 0, 0);

  font-family: "Open Sans", Arial, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;  
}

.feedback input[type="text"]::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder { 
  color: rgba(0, 0, 0, 0.4);
}

.feedback input[type="text"]:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0.4);
}

.feedback input[type="text"]::-ms-input-placeholder,
.feedback textarea::-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0.4);
}

.feedback input[type="text"]::placeholder,
.feedback textarea::placeholder { 
  color: rgba(0, 0, 0, 0.4);
}

.feedback :-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0.4);  
}

.feedback :-moz-placeholder {
  color: rgba(0, 0, 0, 0.4); 
}

.feedback ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);  
}

/*-----Форма отправки письма-----*/
.write-us {
  color: rgb(0, 0, 0);
  position: fixed;
  width: 960px;
  top: 30%;
  margin-left: -480px;
  left: 50%;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);    
  padding-top: 99px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 92px;  
} 

.fields-wrap {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fields-wrap .login,
.fields-wrap .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 50%;
  margin-right: 40px;
}

.fields-wrap .email {
  margin-right: auto;  
}

.fields-wrap .login input[type="text"],
.fields-wrap .email input[type="text"] {       
  width: 100%;
  padding: 18px 20px;
  margin-bottom: 30px;
  border: none;    
}

.fields-color {
  background-color: rgba(229, 229, 229, 0.5); 
}

.fields-wrap .login input[type="text"]:hover,
.fields-wrap .email input[type="text"]:hover,
.text-email textarea:hover {
  background-color: rgba(229, 229, 229, 0.8); 
}

.fields-wrap .login input[type="text"]:focus,
.fields-wrap .email input[type="text"]:focus,
.text-email textarea:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: 2px solid rgb(247, 226, 150);
}

.text-email { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 34px;  
}

.text-email textarea {
  background-color: rgba(229, 229, 229, 0.5);
  width: 100%;
  padding: 18px 20px;
  resize: none;
  border: none;
}

.feedback-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  font-size: 0;
  border: 0;  
  background-image: url(../img/modal-close.svg); 
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer; 
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
  outline: none;  
}

.feedback-close:active {
  opacity: 0.3;
  outline: none;  
}

.feedback-send {    
  background-color: transparent;
  border: none;  
  position: relative;
  padding: 11px 34px;
  z-index: 0;      
}

.feedback-send::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 18px;
  left: 0px;
  z-index: -1;  
  background-color: rgb(240, 197, 46);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.feedback-send:hover::before,
.feedback-send:focus::before {
  height: 100%;
  top: 0px;
  background-color: rgb(240, 197, 46);
}

.feedback-send:active {
  color: rgba(0, 0, 0, 0.3);  
}

.modal {
  display: none;
  z-index: 1;
}

/*-----Немного анимации-----*/
@-webkit-keyframes bounce-right {
  0% {-webkit-transform: translateX(1000px);transform: translateX(1000px);}
  30% {-webkit-transform: translateX(-150px);transform: translateX(-150px);}
  60% {-webkit-transform: translateX(50px);transform: translateX(50px);}
  90% {-webkit-transform: translateX(-25px);transform: translateX(-25px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes bounce-right {
  0% {-webkit-transform: translateX(1000px);transform: translateX(1000px);}
  30% {-webkit-transform: translateX(-150px);transform: translateX(-150px);}
  60% {-webkit-transform: translateX(50px);transform: translateX(50px);}
  90% {-webkit-transform: translateX(-25px);transform: translateX(-25px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

.modal-show-right {
  display: block;
  -webkit-animation-name: bounce-right;
          animation-name: bounce-right;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;  
}

@-webkit-keyframes bounce-left {
  0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
  30% {-webkit-transform: translateX(150px);transform: translateX(150px);}
  60% {-webkit-transform: translateX(-50px);transform: translateX(-50px);}
  90% {-webkit-transform: translateX(25px);transform: translateX(25px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes bounce-left {
  0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
  30% {-webkit-transform: translateX(150px);transform: translateX(150px);}
  60% {-webkit-transform: translateX(-50px);transform: translateX(-50px);}
  90% {-webkit-transform: translateX(25px);transform: translateX(25px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

.modal-show-left {
  display: block;
  -webkit-animation-name: bounce-left;
          animation-name: bounce-left;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;  
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}  
}

@keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}  
}

.modal-error {
  background-color: rgb(237, 181, 181);  
  -webkit-animation-name: shake;  
          animation-name: shake;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s; 
}

/*-----Отсюда идет все по странице каталога-----*/
.inner-page header {
  padding-bottom: 48px;
  margin-bottom: 36px;
}

.inner-page .page-title {
  margin-bottom: 20px;  
}

.inner-page main {
  overflow: hidden;
}

.inner-page .login-link a {
  padding-left: 24px;
}

.inner-page .login-name::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  left: -2px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.inner-page .login-name:hover::before,
.inner-page .login-name:focus::before {
  opacity: 0.6;
}

.inner-page .login-name:active::before {
  opacity: 0.3;
}

.inner-page .header-top .login-name:hover,
.inner-page .header-top .login-name:focus,
.inner-page .user-compare a:hover,
.inner-page .user-compare a:focus,
.inner-page .user-order a:hover,
.inner-page .user-order a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page .header-top .login-name:active,
.inner-page .user-compare a:active,
.inner-page .user-order a:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .header-top .login-exit {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .header-top .login-exit:hover,
.inner-page .header-top .login-exit:focus {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page .header-top .login-exit:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .main-footer .login-link {
  /*padding-left: 24px;*/
}

.inner-page .main-footer .login-name,
.inner-page .main-footer .user-compare a,
.inner-page .main-footer .user-order a {
  color: rgba(255, 255, 255, 0.7);
}

.inner-page .main-footer .login-exit {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page .main-footer .login-exit:hover,
.inner-page .main-footer .login-exit:focus {
  color: rgba(255, 255, 255, 0.6);
}

.inner-page .main-footer .login-exit:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page .main-footer .login-name:hover,
.inner-page .main-footer .login-name:focus,
.inner-page .main-footer .user-compare a:hover,
.inner-page .main-footer .user-compare a:focus,
.inner-page .main-footer .user-order a:hover,
.inner-page .main-footer .user-order a:focus {
  color: rgb(255, 255, 255);
}

.inner-page .main-footer .login-name:active,
.inner-page .main-footer .user-compare a:active,
.inner-page .main-footer .user-order a:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-page .main-footer .login-name::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-page .main-footer .login-name:hover::before,
.main-page .main-footer .login-name:focus::before {
  opacity: 0.6;
}

.main-page .main-footer .login-name:active::before {
  opacity: 0.3;
}

.inner-page .footer-middle {
  margin-bottom: 66px;
}

.inner-page .menu-list-wrap {    
  left: -60px;
}

.inner-page .menu-list {
  width: 1160px;
  padding-left: 60px;
  padding-right: 60px;  
}

.inner-page .container {
  width: 1160px;
  margin: 0 auto;
}

.page-title {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

/*-----Хлебные-крошки-----*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-left: 60px;
  margin-bottom: 42px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300; 
} 

.breadcrumbs a:hover,
.breadcrubms a:focus {
  color: rgba(0, 0, 0, 0.6);    
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);  
}

.breadcrumbs li {
  position: relative; 
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  width: 4px;
  height: 7px;
  top: 13px;
  right: -16px; 
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumb-current {
 margin-right: 0;  
}

.catalog-columns {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;    
}

/*-----Отсюда идут стили для фильтра каталога-----*/
.filters {
  position: relative;
  background-color: rgb(238, 238, 238);
  margin-left: 60px;  
}

.filters::before {
  content: "";

  position: absolute;
  width: 1500px;
  height: 100%;
  top: 0;
  right: 270px;  
  background-color: rgb(238, 238, 238);
}

.filters h2 {
  position: relative;
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 24px 0;
  margin: 0;
  margin-bottom: 70px;
  z-index: 0;
}

.filters h2::before {
  content: "";

  position: absolute;
  width: 1770px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(220, 220, 220);
}

.filters h2::after {
  content: "";

  position: absolute;
  width: 1770px;
  height: 100%;
  top: 0;
  left: 270px; 
  background-color: rgb(238, 238, 238);
}

.filter {
  width: 200px;
  margin-right: 70px;
} 

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;    
  margin-bottom: 10px;
}

.filter legend {  
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.filter-scrollbar legend {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  margin-bottom: 34px;
}

.filter-scrollbar legend::after {
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.filter-scrollbar legend::before {
  position: absolute;

  content: "";
  bottom: -106px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgb(219, 219, 219);  
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background-color: rgb(145, 201, 47);
}

.range-controls {
  position: relative;   
}

.range-controls .toggle {
  position: absolute;
  top: -10px;  

  width: 22px;
  height: 22px;
  border: 9px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(207, 207, 207);
          box-shadow: 0 2px 1px 0 rgba(207, 207, 207);
  background-color: rgb(171, 171, 171);
  cursor: pointer;    
}

.range-controls .toggle:active {
  width: 24px;
  height: 24px;
}

.range-controls .toggle-min {
  left: -8px;
}

.range-controls .toggle-max {
  left: 104px;  
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding-bottom: 35px;      
}

.price-controls label {
  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin-right: 12px;      
}

.price-controls input {
  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;  
  width: 50px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);     
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 40px;  
}

.filter-checkbox {
  position: relative;
}

.filter-checkbox legend {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.filter-option {    
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
}

.filter-input-checkbox + label::before {
  position: absolute;

  content: "";  
  top: 8px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;

  content: "";  
  top: 8px;
  left: -40px;
  width: 27px;
  height: 23px;  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:focus + label,
.filter-input-checkbox:checked + label:hover::after {
  opacity: 0.6;
}

.filter-radio {
  position: relative;
  top: 22px;
}

.filter-radio::before {
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.filter-radio legend {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 18px;
}

.filter-input-radio + label::before {
  position: absolute;

  content: "";  
  top: 8px;
  left: -40px;
  width: 25px;
  height: 25px;  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  position: absolute;

  content: "";  
  top: 8px;
  left: -40px;
  width: 25px;
  height: 25px;  
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:focus + label,
.filter-input-radio:checked + label:hover::after {
  opacity: 0.6; 
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  cursor: pointer;
}

.filter-input:disabled + label {
  color: rgb(166, 166, 166);  
  opacity: 0.25;  
}

.filter-input:disabled + label:hover:before {  
  opacity: 1; 
}

/*-----Кнопка показать в фильтре-----*/
.filter-button {
  position: relative;
  top: 42px;
  padding: 11px 40px;
  z-index: 0; 
  background-color: transparent;
  border: none;   
}

.filter-button::before {
  position: absolute;

  content: "";  
  width: 100%;
  height: 8px;
  top: 19px;
  left: 0px;
  z-index: -1;  
  background-color: rgb(240, 197, 46);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.filter-button:hover::before,
.filter-button:focus::before {
  height: 100%;
  top: 0px;
  background-color: rgb(240, 197, 46);
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Сортировка-----*/
.sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  margin-bottom: 70px;
  background-color: rgb(238, 238, 238);
}

.sorting h2 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  padding: 24px 0;
  margin: 0;
  margin-right: 55px;   
}

.sort-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  -webkit-box-flex: 1;  
      -ms-flex-positive: 1;  
          flex-grow: 1;
}

.selection a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;  
}

.selection a:hover,
.selection a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.selection a:active {
 color: rgb(0, 0, 0);
}

.current-selection a {
  color: rgb(0, 0, 0);
}

.sort-wrap ul {  
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;   
}

.selection li {
  margin-right: 30px;  
}

.selection li:last-child {
  margin: auto;
}

.sorting-icon li {
  margin-right: 19px;
}

.sorting-icon li:last-child {
  margin-right: auto;
}

.sorting-icon a {
  width: 11px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  text-indent: 900px;
  overflow: hidden;
}

.icon-up a {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.icon-down a {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-up a:hover,
.icon-down a:hover,
.icon-up a:focus,
.icon-down a:focus {
  opacity: 0.4;
}

.icon-up a:active,
.icon-down a:active {
  opacity: 1;
}

/*-----Отсюда идут стили для карточек товара-----*/
.catalog {
  width: 760px;  
}

.catalog-item {
  position: relative;
  width: 360px; 
  margin-bottom: 44px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  list-style: none;
  margin: 0;
  padding: 0;   
}

.product-wrap {
  position: relative;
  z-index: 0;
  margin-bottom: 24px;
}

.product-wrap:hover img {
  opacity: 0.7;
  -webkit-filter: grayscale(100%); 
  -webkit-filter: grayscale(1); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter: grayscale(100%); 
  -webkit-filter: gray; 
          filter: gray;  
}

.product-button-wrap {  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -40px;
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 1;
}

.product-wrap:hover .product-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;    
}

.product-title-wrap a {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 275px;
}

.item-price {
  color: rgb(0, 0, 0);
  
  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.add-cart {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 8px 0;
  text-align: center;
}

.add-cart::before {
  position: absolute;

  content: "";  
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0px;
  z-index: -1;  
  background-color: rgb(240, 197, 46);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.add-cart:hover::before {
  height: 100%;
  top: 0px;
  background-color: rgb(240, 197, 46);
}

.add-cart:active {
  color: rgba(0, 0, 0, 0.3);      
}

.add-compare {
  color: rgba(0, 0, 0, 0.5);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;  
  font-size: 13px;
  line-height: 36px;
  font-weight: 300; 
  text-align: center;
  vertical-align: middle;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;        
}

.add-compare:hover,
.add-compare:focus {
  color: rgb(0, 0, 0);    
}

.add-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/*-----Метка New-----*/
.flag-new::after {
  position: absolute;

  content: "NEW";
  top: 45px;
  right: 40px;
  color: rgba(0, 0, 0, 0.2);
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em; 
}

.flag-new::before {
  position: absolute;

  content: "";
  top: 27px;
  right: 27px;    
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2); 
  border-radius: 50%;
}

/*-----Пагинация------*/
.pagination-list {
  width: 760px;
  list-style: none;
  background-color: rgb(238, 238, 238);
  padding-left: 0;
  margin: 0;     
  display: -webkit-box;     
  display: -ms-flexbox;     
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -8px;
  margin-bottom: 78px;     
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-item {
  margin-right: 28px;  
}
.pagination-item:nth-last-child(2) {
  margin-right: 0;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-right: 0;
  margin-left: auto; 
}

.pagination-item-prev a,
.pagination-item-next a,
.pagination-item-current a {
  color: rgb(0, 0, 0);
}

.pagination-item-prev a,
.pagination-item-next a {
  padding: 22px 30px;   
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgb(0, 0, 0);
}

.pagination-item-prev a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
  background-color: rgb(217, 217, 217);
  color: rgb(0, 0, 0); 
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
  background-color: rgb(217, 217, 217);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: rgb(0, 0, 0);
}